body {
    margin: 0; padding: 0;
    display: block;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
}
button {
    display: block;
    display: flex;
    flex-grow: 0;
    box-shadow: none;
    border: 0;
    width: 100vw;
    height: 34vh;
    opacity: 0.9;
    transition: opacity 150ms ease-in;
}



button:nth-child(2) { background: #F0C63E; }
button:nth-child(3) { background: #D85899; }
button:nth-child(4) { background: #68FFFD;}

button:nth-child(2).active { background: #7F360C; }
button:nth-child(3).active { background: #7F0069; }
button:nth-child(4).active { background: #3FCCCB; }

button.active {  transition: opacity 2ms ease-out; opacity: 1; }

@media (min-width: 600px) {
    body {
        flex-direction: row-reverse;
    }
    
    button {
        height: 100vh;
    }
}

.score {
    position: fixed;
    width: 100vw;  height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 55vh;
    letter-spacing: -85px;
    font-family: sans-serif;
    z-index: 10;
    pointer-events: none;
    color: rgba(0,0,0,0.2);
}

.score.updated {
    animation: pulse 150ms ease-out;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1.4);  
    }
}

.failed {
    animation: bzzz 0.15s infinite alternate;
}

@keyframes bzzz {
    from {
        transform: scale(0.9) translate(-5%, 5%) rotateZ(-12deg) rotateX(15deg) rotateY(-5deg);
    }
    to {
        transform: scale(1.1) translate(4%, -4%) rotateZ(14deg) rotateX(-10deg) rotateY(5deg);
    }
}