body {
    margin: 0; padding: 0;
    display: block;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
button {
    display: block;
    display: flex;
    flex-grow: 0;
    box-shadow: none;
    border: 0;
    background: #dfdf66;
    width: 100vw;
    height: 33vh;
    opacity: 0.4;
    transition: opacity 300ms ease-in;
}
button:active,
button.active {
    transition: opacity 50ms ease-out; opacity: 1; }
button:nth-child(2) { background: #66aaff; }
button:nth-child(3) { background: #00dd88; }

@media (min-width: 600px) {
    body {
        flex-direction: row;
    }
    
    button {
        height: 100vh;
    }
}